<div class="container p-5">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default  panel--styled">
                <div class="panel-body">
                    <div class="col-md-12 panelTop">
                        <div class="col-md-4">
                            <img class="img-responsive fit-image" [src]="item.image" [alt]="item.name" />
                        </div>
                        <div class="col-md-8">
                            <h2>{{item.name}}</h2>
                            <p>{{item.description}}</p>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <h5>Price <span class="itemPrice">${{item.price}}</span></h5>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <form class="form-inline">
                                    <label class="sr-only" for="inlineFormInputGroupUsername2">Bid Amount</label>
                                    <div class="input-group mb-2 mr-sm-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">$</div>
                                        </div>
                                        <input type="number" [min]="bids[bids.length-1].amount" class="form-control"
                                            id="inlineFormInputGroupUsername2" placeholder="Enter Bid Amount">
                                    </div>
                                </form>
                            </div>

                            <div class="col-md-5">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="btn btn-primary" style="font-size:12px"> Bid
                                                Now</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-primary" style="font-size:12px">Auto Bid</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Product Bids</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">User</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date & Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bid of bids | paginate: { itemsPerPage: 10, currentPage: page }">
                        <th scope="row">1</th>
                        <td>{{bid.user}}</td>
                        <td>{{bid.amount}}</td>
                        <td>{{bid.createdDate}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</div>