<div class="sidenav">
    <div class="login-main-text">
        <h2>Auction Application<br> Login Page</h2>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form class="row row-cols-lg-auto g-3 align-items-center" #form="ngForm">
                <div class="col-12">
                    <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                    <div class="input-group">
                        <div class="input-group-text">@</div>
                        <input type="text" class="form-control" name="username" [(ngModel)]="username" id="username"
                            placeholder="Username">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="rememberme"
                            name="rememberme" id="remember">
                        <label class="form-check-label" for="remember">
                            Remember me
                        </label>
                    </div>
                </div>

                <div class="col-12">
                    <button (click)="login()" type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>