<app-header></app-header>

<div class="container">
    <div class="row p-5">
        <aside class="col-md-3">
            <div class="card">
                <article class="filter-group">
                    <header class="card-header">
                        <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                            <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title">Product Filter</h6>
                        </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse_1" style="">
                        <div class="card-body">
                            <form class="pb-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="search" [(ngModel)]="search" placeholder="Search">
                                    <div class="input-group-append">
                                        <button (click)="searchItem()" class="btn btn-light" type="button"><i
                                                class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- card-body.// -->
                    </div>
                </article>
                <!-- filter-group  .// -->
                <article class="filter-group">
                    <header class="card-header">
                        <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                            <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title">Price range </h6>
                        </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse_3" style="">
                        <div class="card-body">
                            <div class="row g-3">
                                <div class="col">
                                    <label>Min</label>
                                    <input class="form-control" name="min" [(ngModel)]="min" placeholder="$0" type="number">
                                </div>
                                <div class="col">
                                    <label>Max</label>
                                    <input class="form-control" name="max" [(ngModel)]="max" placeholder="$1,0000" type="number">
                                </div>
                            </div>
                            <br>
                            <button (click)="applyPriceFilter()" class="btn btn-block btn-primary">Apply</button>

                            <button (click)="resetPriceFilter()" class="btn btn-block btn-primary">Reset</button>
                        </div>
                        <!-- card-body.// -->
                    </div>
                </article>
                <!-- filter-group .// -->
            </div>
            <!-- card.// -->

        </aside>
        <main class="col-md-9">

            <header class="border-bottom mb-4 pb-3">
                <div class="form-inline">
                    <span class="mr-md-auto">{{items.length}} <span *ngIf="items.length==1">Item</span> <span *ngIf="items.length==0">Items</span> <span *ngIf="items.length>1">Items</span> found </span>
                </div>
            </header>
            <!-- sect-heading -->

            <div class="row">

                <div class="col-md-4" *ngFor="let item of items | paginate: { itemsPerPage: 10, currentPage: page }">
                    <figure class="card card-product-grid">
                        <div class="img-wrap">
                            <img [src]="item.image" class="img-fluid">
                            <a class="btn-overlay" [routerLink]="[ '/items' , item._id ]"><i class="fa fa-search-plus"></i> Quick view</a>
                        </div>
                        <!-- img-wrap.// -->
                        <figcaption class="info-wrap">
                            <div class="fix-height">
                                <a [routerLink]="[ '/items' , item._id ]" class="title">{{item.name}}</a>
                                <p>{{item.description.slice(0,100)}}...</p>
                                <div class="price-wrap mt-2">
                                    <span class="price">${{item.price}}</span>
                                </div>
                                <!-- price-wrap.// -->
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <!-- col.// -->

            </div>
            <!-- row end.// -->
            <pagination-controls (pageChange)="page = $event"></pagination-controls>

        </main>
    </div>
</div>